:host{
    margin: 1rem;
    padding: 1rem;
    background-color: var(--secondary-bg-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
