:root {
  --primary-colour: #4a90e2;
  --secondary-colour: #50e3c2;

  --background-colour: #ffffff;
  --on-background: #f0f0f0;

  --text-primary: #232323;
  --text-secondary: #666666;
  --text-muted: #999999;

  --border-colour: #e0e0e0;
  --font-m: 1rem;
  --font-s: 0.75rem;

  --font-families: "Roboto Mono";

  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

:root[data-theme='dark'] {
  --primary-colour: #4a90e2;
  --secondary-colour: #50e3c2;

  --background-colour: #121212;
  --on-background: #000;

  --text-primary: #f0f0f0;
  --text-secondary: #b0b0b0;
  --text-muted: #707070;

  --border-colour: #444444;
}

html {
  height: 100%;
  background-color: var(--background-colour);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-families);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover{
  color: var(--text-secondary);
}
