:root {
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;
  --background-color: #f0f0f0;
  --text-color: #232323;
  --border-color: #e0e0e0;
  --font-m: 1rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

:root[data-theme='dark'] {
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;

  --background-color: #232323;
  --text-color: #f0f0f0;
  --border-color: #444444;
}

:root[data-theme='light'] {
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;
  
  --background-color: #f0f0f0;
  --text-color: #232323;
  --border-color: #e0e0e0;
}

html {
  height: 100%;
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Mono';
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: underline;
}
