.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.home-body{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.service-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.service-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.status-up {
  color: #28a745;
  font-weight: bold;
}

.status-down {
  color: #dc3545;
  font-weight: bold;
}

.status-loading{
  color: #ffdc00;
  font-weight: bold;
}

.service-status {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}
