<div class="home-page">
    <div class="home-body">
      <app-card class="portfolio-banner">Portfolio <a href="https://portfolio.patrickdd.com/">here</a>!</app-card>
        @if (loggedIn && !verifiedOtp) {
            <app-otp
                submitLabel="Login"
                (formSubmit)="handleOtp($event)">
            </app-otp>
        }
        @else {
            <app-auth
                submitLabel="Login"
                (formSubmit)="handleLogin($event)">
            </app-auth>
        }
    </div>

  <div class="service-container">
    @for (site of siteStatuses$ | async; track site.url) {
      <app-card class="service-card">
        <div class="service-status">

          <a [href]="site.url" target="_blank">{{ site.name }}</a>
          <span [ngClass]="{
          'status-up': site.status === 'UP',
          'status-down': site.status === 'DOWN',
          'status-loading': site.status === 'LOADING'
          }">
            {{ site.status }}
          </span>
          <span>{{ site.latency }}ms</span>

        </div>
      </app-card>
    } @empty {
      <app-card class="service-card">
        <p>No sites being monitored.</p>
      </app-card>
    }
  </div>

</div>
