<p>Logged in</p>
<p>Dashboard</p>
<h2>apis</h2>
<ul>
    <li> <button (click)="fetchUserProfile()">Fetch user profile</button></li>
    <li> <button (click)="fetchUserSavedTracks()">Fetch saved tracks</button></li>
    <li> <button (click)="fetchUserTopTracks()">Fetch top tracks</button></li>
    <li> <button (click)="fetchUserTopArtists()">Fetch top artists</button></li>
    <li> <button (click)="proccessUserData()">Proccess user data</button></li>
    <li> <button (click)="fetchAllSavedTracks()">Fetch all saved tracks</button></li>

</ul>