:host{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-items: center;
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.api-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--secondary-bg-color);
    border-radius: 1rem;
    box-shadow: 0 4px 8px #00000033;
}

.api-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}