<div class="dashboard">
    <h1>Dashboard</h1>
    <div class="api-list">
        <h2>APIS</h2>
        <ul>
            <li> <button (click)="onClickFetchUserProfile()">Fetch user profile</button></li>
            <li> <button (click)="onClickFetchUserTopTracks()">Fetch user top tracks</button></li>
            <li> <button (click)="onClickFetchUserSavedTracks()">Fetch user saved tracks</button></li>
        </ul>
    </div>
    <app-user-profile-card [userProfile]="userProfile$"></app-user-profile-card>
</div>