<section class="about-content">
    <div class="about-header">
        <h2>Picture?</h2>
    </div>
    <div class="about-content">
        <p>Based in London, I am currently working as a software engineer apprentice at Google. At Google I was part of
            Android Health building products to help billions become healthier.</p>
        <p>Ever since I started tinkering with gadgets like calculators and laptops, I've always had a keen interest
            with engineering. Then I started to do computer science at High School where I discovered I loved being
            challenged and building things. I wanted to use my skills to make a real impact. </p>

    </div>
</section>