<app-card class="about-container">
    <div class="about-header">
        <h2>About me</h2>
    </div>
    <div class="about-content">
        <p>
          I'm {{ age }} years old and working at a Software Engineer &#64;<!--'@'--> Google as an apprentice.
          I'm part of the Android Health team working on Health Connect creating new exciting Android APIs
          helping people track their health & fitness.
          <br><br>
          <small>Note: Age dependent on device's system clock.</small>
        </p>
    </div>

  <div class="socials-list">
    <a *ngFor="let social of socialLinks" [href]="social.link" target="_blank">{{ social.name }}</a>
  </div>
</app-card>
