
.about-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-m);
    padding: 0 15vh;

}

.about-header{
    text-align: start;
    margin-bottom: 2rem;
}

.socials-list{
  display: flex;
  flex: 1;
  gap: 1rem;
}

.socials-list > * {
  flex: 1;
  text-align: center;
}

p{
    max-width: 600px;
}
