/* You can add global styles to this file, and also import other style files */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-bg-color: #242424;
  --primary-color: #e0e0e0;
  --secondary-bg-color: #181818;
  --tertiary-bg-color: #121212;
  
  
  
}

.html, body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card{
    background-color: var(--secondary-bg-color);
    box-shadow: 0 4px 8px #00000033;
    border-radius: 1rem;
    max-width: 30rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

button {
    border-radius: 8px;
    color: var(--primary-color);
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--tertiary-bg-color);
    transition: border-color 0.25s;
    outline-width: 1rem;
}
button:hover {
    border-color: #646cff;
}
button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
}