**/target/
**/build/
!**/build/libs/
**/bin/

**/.idea/
**/.settings/
**/.project
**/.classpath
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws
**/.DS_Store

.git/
.gitignore
**/.gitkeep

**/.env
**/*.env*
**/config/**

**/*.log
**/logs/
**/tmp/

**/README.md
**/docs/