<div class="home-page">
    <div class="home-body">
        <h1>Welcome</h1>
        <p>This webapp serves as a template webapp for the monorepo.<br>
            Its full stack, database keeps track of the total clicks. <br>
            It also has ratelimiting.<br>
        </p>
        <h2><a href="/ping">Ping here</a></h2>

        <h2>Tech stack</h2>
        <ul>
            <li>Angular</li>
            <li>Spring Boot</li>
            <li>Kotlin</li>
            <li>Docker + Docker compose</li>
        </ul>
        <h2>endpoints</h2>
        <p>base address: <b>template.patrickdd.com/api/v1</b></p>

        <h3><a href="/api/v1/ping">/ping</a></h3>
        <p>sends ping to server and increments total clicks.</p>

        <h3><a href="/api/v1/ping/stats">/ping/stats</a></h3>
        <p>shows data about pings including total click count.</p>

        <h3><a href="/api/v1/status">/status</a></h3>
        <p>shows data about the server</p>
    </div>
</div>