
:host {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hero-container {
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-weight: bolder
}
