@if (!authenticated) {
<div class="container">
  <h1>Welcome to fsp!</h1>
  <p>Please log in to continue.</p>
  <div
    id="g_id_onload"
    data-client_id="1076665635299-lc6vi29cic3f8ldptptpp59fs17eu031.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    [attr.data-login_uri]="loginUri"
    data-auto_prompt="false"
  ></div>

  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="outline"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left"
  ></div>
</div>
} @else {
<div class="container">
  <h1>Welcome to the fsp!</h1>
  <p>You are logged in.</p>
</div>
}
