
<div class="dashboard-page">
    <div class="header">
        <app-card>
            <h3>Welcome</h3>
        </app-card>
    </div>
    <div class="webapp-list">
        <app-card>
            <h3>webapp 1</h3>
            <p>[controls here]</p>
        </app-card>
        
        <app-card>
            <h3>webapp 2</h3>
            <p>[controls here]</p>
        </app-card>
        
        <app-card>
            <h3>webapp 3</h3>
            <p>[controls here]</p>
        </app-card>
        
        <app-card>
            <h3>webapp 3</h3>
            <p>[controls here]</p>
        </app-card>
    </div>
</div>


