:host {
  display: block;
}

.btn-container {
  .btn{
    background-color: var(--background-colour);
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-family: var(--font-families);
  }
}
