<div class="legacy-container">
    <h1>welcome.</h1>
    <p>
        this portfolio is hosted on my  
        <a href="https://github.com/patrick-ed/monorepo">monorepo</a> which itself is 
        self-hosted on my home server.<br />
        the monorepo has a complete CI/CD pipeline and an incremental build system using github actions and a few deployment scripts. All webapps uses nginx + docker.
    </p>

    <h3>Socials</h3>
    <ul>
        <li><a href="https://github.com/patrick-ed">Github</a></li>
        <li><a href="https://linkedin.com/in/patricked/">Linkedin</a></li>
    </ul>
    <h3>Subdomains</h3>
    <ul>
        <li><a href="https://statify.patrickdd.com">statify.patrickdd.com</a></li>
        <li><a href="https://template.patrickdd.com">template.patrickdd.com</a></li>
    </ul>
    <h3>Tech stack</h3>
    <h4>Languages</h4>
    <ul>
        <li>java</li>
        <li>kotlin</li>
        <li>html css</li>
        <li>javascript typescript</li>
        <li>bash</li>
        <li>sql</li>
    </ul>

    <h4>Tools</h4>
    <ul>
        <li>angular</li>
        <li>git + github</li>
        <li>jetpack compose</li>
        <li>springboot</li>
        <li>docker</li>
        <li>nginx</li>
    </ul>
</div>