<div class="legacy-container">
    <h1>welcome to my website</h1>
    <p>
        my name is patrick dumdum<br />
        i like software engineering<br />
        this website is a part of my
        <a href="https://github.com/patrick-ed/monorepo">monorepo</a> which is
        hosted on my home server<br />
        the monorepo is a collection of projects that i have worked on or am
        currently working on<br />
        it is complete with a CI/CD pipeline that deploys the projects to my home
        server<br />
        the monorepo is a work in progress and i am constantly adding new projects
        to it<br />
        last updated: 15.06.2025<br />
    </p>

    <h3>Socials</h3>
    <ul>
        <li><a href="https://github.com/patrick-ed">Github</a></li>
        <li><a href="https://linkedin.com/in/patricked/">Linkedin</a></li>
    </ul>
    <h3>Subdomains</h3>
    <ul>
        <li><a href="https://fsp.patrickdd.com">fsp.patrickdd.com</a></li>
        <li><a href="https://template.patrickdd.com">template.patrickdd.com</a></li>
    </ul>
    <h3>Tech stack</h3>
    tech stack of not only the monorepo but other projects
    <h4>Languages</h4>
    <ul>
        <li>java</li>
        <li>kotlin</li>
        <li>html css</li>
        <li>javascript typescript</li>
        <li>bash</li>
        <li>sql</li>
    </ul>

    <h3>Tools</h3>
    <ul>
        <li>angular</li>
        <li>git + github</li>
        <li>jetpack compose</li>
        <li>springboot</li>
        <li>docker</li>
        <li>nginx</li>
    </ul>
</div>